@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border-right {
    border-right: 1px solid rgb(255, 255, 255);
}

.tbody {
    border-right: 1px solid rgb(255, 255, 255);
    background: #105469;
    font-family: 'Open Sans', sans-serif;
}

table {
    border-right: 1px solid rgb(255, 255, 255);
    background: #141d20;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
}

th {
    border-right: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid #364043;
    color: #E2B842;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: center;
}

td {
    font-size: 1.2em;
    text-align: center;
    border-right: 1px solid rgb(255, 255, 255);
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
}

.disabled td {
    color: #4F5F64;
}

tbody tr {
    border-bottom: 1px solid rgb(255, 255, 255);
    transition: background 0.25s ease;
}

tbody tr:hover {
    background: #014055;
}