{% extends "base.html"%}{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static' , filename='input.css')}}">


</head>

<body>

    <form action="#" method="post">

        <div class="page ">
            <div class="heading">
                <h1>Add Device</h1>

            </div>
            <select name=arpscan method="get" action="/">
      
              <option value="{{arpscan[0]}}" SELECTED>{{arpscan[0]}}</option>
            
              {% for ip in arpscan[1:] %} 
            
              <option value="{{ip}}">{{ip}}</option>
            
              {% endfor %}
            
            </select>


            <label for="device_name" class="field field_v2">
            <input type="text" class="field__input" id="device_name" name="device_name"placeholder="">
            <span class="field__label-wrap">
              <span class="field__label">Enter device name</span>
            </span>
          </label>

            <label class="btns">
            <button type="submit" class="btn btn-confirm">Add</button>
            <button type="reset" class="btn btn-cancel">Cancel</button>
        </label>

    </form>
    </div>
</body>

</html>
{% endblock %}