<!DOCTYPE html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static' , filename='hometab.css')}}">
</head>

<body>
    <div class="hero">
        <div class="btn-box">
            <button id="btn1" onclick="openOverviw()"><i class="fa fa-solid fa-info"></i>About</button>
            <button id="btn2" onclick="openServices()"><i class="fa fas fa-gem"></i>Services</button>
            <button id="btn3" onclick="openCreators()"><i class="fa fas fa-users"></i>Founders</button>
        </div>
        <div id="content1" class="content">
            <div class="content-left">
                <h1>OVERVIEW</h1>
                <p style="font-size: 150%;">
                    The BlockChanger is a Network Intrusion Detections/Prevention system that will provide the blockchain authentication approach to all IoT network devices once they are connected to it. The value that BlockChanger adds is its agentless functionality. In
                    other words, it does not require any software or agent to be installed inside the IoT devices to be part of the blockchain network.
                </p>
            </div>
            <div class="content-right">
            </div>
        </div>

        <div id="content2" class="content">
            <div class="content-left">
                <h1>rewrweqerq</h1>
                <p>
                    The BlockChanger is a Network Intrusion Detections/Prevention system that will provide the blockchain authentication approach to all IoT network devices once they are connected to it. The value that BlockChanger adds is its agentless functionality. In
                </p>
            </div>
            <div class="content-right">
                <img src="{{url_for('static', filename='./images/blockChANGER-png.png')}} ">
            </div>
        </div>

        <div id="content3" class="content">

            <div class="content-left">
                <h1>fdsfsd</h1>
                <p>
                    The BlockChanger is a Network Intrusion Detections/Prevention system that will provide the blockchain authentication approach to all IoT network devices once they are connected to it. The value that BlockChanger adds is its agentless functionality. In
                    other words, it does not require any software or agent to be installed inside the IoT devices to be part of the blockchain network.
                </p>
            </div>
            <div class="content-right">
                <img src="{{url_for('static', filename='./images/blockChANGER-png.png')}} ">
            </div>
        </div>

    </div>



</body>




</html>






















</html>